<div class="container">
  <app-cockpit
    (serverCreated)="onServerCreated($event)"
    (bpCreated)="onServerBluePrintCreated($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <app-server-element
        *ngFor="let server of serverElement"
        [srvElem]="server"
      >
        <p>
          <strong *ngIf="server.type=='server'" style="color: red">{{server.content}}</strong>
          <em *ngIf="server.type=='bluePrint'" style="color: blue">{{server.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
