<!--
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<input type="text" [(ngModel)]="age">
<p>{{age}}</p>

<div class="row">
  <div class="col-md-6">
    Hello
  </div>
</div>

<app-servers></app-servers>
-->

<!--Recipe and shoppinglist app-->

<!--<app-header></app-header>-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--Component Databinding Deep Dive-->

<!--<app-component-splitting-demo></app-component-splitting-demo>-->


<!--Directive-->

<!--<p appBasicHighlight>Directive</p>
<p appBetterHighlight="violet" defaultColor="yellow">Better Directive</p>

<div [ngSwitch]="value">
  <p *ngSwitchCase="5">Value is 5</p>
  <p *ngSwitchCase="10">Value is 10</p>
  <p *ngSwitchCase="100">Value is 100</p>
  <p *ngSwitchDefault>Value is Default</p>
</div>-->


<!--Services Examples-->
<!--<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
        (statusChanged)="onStatusChanged($event)"></app-account>
    </div>
  </div>
</div>-->


<!--Routing Example-->

<!--<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">&lt;!&ndash;Without property binding options will not work&ndash;&gt;
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="'servers'">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->


<!-- Understanding Observables -->
<!--<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a>
      <a [routerLink]="['user', 1]">User 1</a>
      <a [routerLink]="['user', 2]">User 2</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->

<!-- Understanding Forms -->
<!--<app-form></app-form>-->
<!--<app-reactive-forms></app-reactive-forms>-->


<!--Understanding Pipes-->
<!--<app-pipes></app-pipes>-->

<!--Understanding HTTP Request-->
<app-making-http></app-making-http>
