<!--
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<input type="text" [(ngModel)]="age">
<p>{{age}}</p>

<div class="row">
  <div class="col-md-6">
    Hello
  </div>
</div>

<app-servers></app-servers>
-->

<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipe *ngIf="featureSelected === 'recipe'"></app-recipe>
      <app-shopping-list *ngIf="featureSelected !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>


<!--Component Databinding Deep Dive-->

<!--<app-component-splitting-demo></app-component-splitting-demo>-->
